.version.index /* version checker */
{
	color: #000017;
	background-color: #D2D9E9;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #E5E6E7;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -32px;
	padding-bottom: 30px;
	width: 0.01px;/* should not cover content below */
}

#pu1638
{
	width: 0.01px;
	padding-bottom: 873px;
	margin-left: -138px;
}

#u1638
{
	z-index: 31;
	width: 1280px;
	background-color: transparent;
	position: fixed;
	top: 173px;
	left: -138px;
}

#u2586
{
	z-index: 61;
	width: 1200px;
	height: 134px;
	position: fixed;
	top: -32px;
	left: -100px;
}

#u2587
{
	z-index: 62;
	width: 105px;
	position: fixed;
	top: -1px;
	left: 166px;
}

#u2589-4
{
	z-index: 64;
	width: 98px;
	min-height: 21px;
	position: fixed;
	top: 39px;
	left: 541px;
}

#u2590-4
{
	z-index: 68;
	width: 98px;
	min-height: 21px;
	position: fixed;
	top: 39px;
	left: 648px;
}

#u2589-4:hover,#u2590-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 98px;
	margin: 0px;
}

#u2591-4
{
	z-index: 72;
	width: 98px;
	min-height: 21px;
	position: fixed;
	top: 39px;
	left: 767px;
}

#u2592-4
{
	z-index: 76;
	width: 98px;
	min-height: 21px;
	position: fixed;
	top: 39px;
	left: 882px;
}

#u2590-4.MuseLinkActive,#u2591-4:hover,#u2592-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 98px;
	margin: 0px;
}

#pu996
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -625px;
}

#u996
{
	z-index: 2;
	width: 1200px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/websitee.jpg") no-repeat center center;
}

#u319
{
	z-index: 3;
	width: 1200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
}

#u329-6
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 114px;
}

.js #u1638.ose_pre_init,.js #u329-6.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u2228
{
	z-index: 47;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 484px;
	left: 116px;
}

#u2228:hover
{
	width: 200px;
	min-height: 0px;
	margin: 484px -10000px 0px 0px;
	background: transparent url("../images/home-dl.png") no-repeat left top;
	background-size: 200px 64px;
}

#u2228:active
{
	width: 200px;
	min-height: 0px;
	margin: 484px -10000px 0px 0px;
	background: transparent url("../images/home-dl.png") no-repeat center center;
	background-size: contain;
}

#u519
{
	z-index: 17;
	width: 374px;
	background-color: transparent;
	position: fixed;
	top: 1139px;
	left: 136px;
}

#u2659
{
	z-index: 50;
	width: 362px;
	background-color: transparent;
	position: fixed;
	top: 1257px;
	left: 548px;
}

#pu477
{
	width: 0.01px;
	margin-left: -187px;
	margin-top: 428px;
}

#u477
{
	z-index: 13;
	width: 1242px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 55px;
}

#u491
{
	z-index: 15;
	width: 1286px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 721px;
}

#pu533
{
	width: 0.01px;
	padding-bottom: 1420px;
	margin-left: -64px;
	margin-top: -1381px;
}

#u533
{
	z-index: 21;
	width: 374px;
	background-color: transparent;
	position: fixed;
	top: 2240px;
	left: 531px;
}

#u498
{
	z-index: 23;
	width: 515px;
	background-color: transparent;
	position: fixed;
	top: 1611px;
	left: -64px;
}

#u512
{
	z-index: 25;
	width: 242px;
	background-color: transparent;
	position: fixed;
	top: 2686px;
	left: 451px;
}

#u907
{
	z-index: 33;
	width: 374px;
	background-color: transparent;
	position: fixed;
	top: 2353px;
	left: 117px;
}

#u938-4
{
	z-index: 35;
	width: 274px;
	min-height: 75px;
	background-color: transparent;
	position: fixed;
	top: 1556px;
	left: 548px;
}

#u958-4
{
	z-index: 39;
	width: 274px;
	min-height: 75px;
	background-color: transparent;
	position: fixed;
	top: 2659px;
	left: 129px;
}

.js #u533.ose_pre_init,.js #u512.ose_pre_init,.js #u907.ose_pre_init,.js #u958-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u484
{
	z-index: 11;
	width: 1198px;
	background-color: transparent;
	left: -98px;
	margin-top: 132px;
	position: relative;
}

#pu526
{
	width: 0.01px;
	padding-bottom: 640px;
	margin-left: 107px;
	margin-top: -754px;
}

#u526
{
	z-index: 19;
	width: 374px;
	background-color: transparent;
	position: fixed;
	top: 3275px;
	left: 107px;
}

#u505
{
	z-index: 27;
	width: 278px;
	background-color: transparent;
	position: fixed;
	top: 3611px;
	left: 273px;
}

#u899
{
	z-index: 29;
	width: 258px;
	background-color: transparent;
	position: fixed;
	top: 3508px;
	left: 549px;
}

#u961-4
{
	z-index: 43;
	width: 274px;
	min-height: 17px;
	background-color: transparent;
	position: fixed;
	top: 3818px;
	left: 568px;
}

#u896
{
	z-index: 49;
	height: 93px;
}

.ie #u896
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u896-bw
{
	z-index: 49;
	margin-top: 11px;
	height: 93px;
}

#u2593
{
	z-index: 80;
	width: 1228px;
	height: 1px;
	left: -56px;
	position: relative;
}

#u2594
{
	z-index: 52;
	width: 246px;
	margin-left: 377px;
	margin-top: 12px;
	position: relative;
}

#u2595-4
{
	z-index: 53;
	width: 106px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2596-4
{
	z-index: 57;
	width: 106px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

.html
{
	background-color: #E5E6E8;
}

body
{
	position: relative;
	min-width: 1000px;
}

