.version.shochi__about /* version checker */
{
	color: #00000A;
	background-color: #A6A422;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -32px;
	padding-bottom: 30px;
	width: 0.01px;/* should not cover content below */
}

#pu2586
{
	width: 0.01px;
	padding-bottom: 134px;
	margin-left: -100px;
}

#u2586
{
	z-index: 25;
	width: 1200px;
	height: 134px;
	position: fixed;
	top: -32px;
	left: -100px;
}

#u2587
{
	z-index: 26;
	width: 105px;
	position: fixed;
	top: -1px;
	left: 166px;
}

#u2589-4
{
	z-index: 28;
	width: 98px;
	min-height: 21px;
	position: fixed;
	top: 39px;
	left: 541px;
}

#u2590-4
{
	z-index: 32;
	width: 98px;
	min-height: 21px;
	position: fixed;
	top: 39px;
	left: 648px;
}

#u2589-4:hover,#u2590-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 98px;
	margin: 0px;
}

#u2591-4
{
	z-index: 36;
	width: 98px;
	min-height: 21px;
	position: fixed;
	top: 39px;
	left: 767px;
}

#u2592-4
{
	z-index: 40;
	width: 98px;
	min-height: 21px;
	position: fixed;
	top: 39px;
	left: 882px;
}

#u2590-4.MuseLinkActive,#u2591-4:hover,#u2592-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 98px;
	margin: 0px;
}

#pu1839
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -89px;
}

#u1839
{
	z-index: 2;
	width: 1178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u1804
{
	z-index: 4;
	width: 1200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 364px;
}

#u1813
{
	z-index: 6;
	width: 1199px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	left: 1px;
}

#u1826-5
{
	z-index: 9;
	width: 334px;
	min-height: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 785px;
	left: 706px;
}

#u1829
{
	z-index: 14;
	width: 456px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 410px;
	left: 677px;
}

#u1823
{
	z-index: 8;
	height: 60px;
	background-color: #E5E6E8;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1823-bw
{
	z-index: 8;
	margin-top: 5px;
	height: 60px;
}

#u2593
{
	z-index: 44;
	width: 1228px;
	height: 1px;
	left: -56px;
	position: relative;
}

#u2594
{
	z-index: 16;
	width: 246px;
	margin-left: 377px;
	margin-top: 12px;
	position: relative;
}

#u2595-4
{
	z-index: 17;
	width: 106px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2596-4
{
	z-index: 21;
	width: 106px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

.html
{
	background-color: #E5E6E8;
}

body
{
	position: relative;
	min-width: 1000px;
}

